<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
        </th:block> /*/-->
 </head>
<body>
<div class="container">
    <header th:insert="fragments/template.html :: header"> </header>

    <div class="row">
        <div class="col-12">
            <form  th:action="@{/sucursal/{modo}/{codigo}(modo=${modo},codigo=${sucursal.id})}" th:object="${sucursal}" method="post" >
                <label><h2>Sucursal</h2></label>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{id}" placeholder="Código"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{nombre}" placeholder="Nombre"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{provincia}" placeholder="Provincia"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{canton}" placeholder="Cantón"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{distrito}" placeholder="Distrito"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{telefono}" placeholder="Teléfono"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <a th:href="@{/sucursal/}" class="btn btn-warning">Volver</a>
                    <button name="submit" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>

        </div>
    </div>






    <footer th:replace="fragments/template.html :: footer"></footer>
</div>
</body>
</html>