<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
        </th:block> /*/-->
 </head>
<body>
<div class="container">
    <header th:insert="fragments/template.html :: header"> </header>
    <div class="row">
        <div class="col-12">
            <form th:action="@{/sucursal/{codigo}(codigo=${sucursal.codigo})}" method="post" th:object="${sucursal}">
                <input type="hidden" id="codigo" name="codigo" th:value="${sucursal.codigo}">
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{codigo}" placeholder="Codigo"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{provincia}" placeholder="Provincia"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{distrito}" placeholder="Distrito"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{canton}" placeholder="Canton"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{telefono}" placeholder="telefono"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <a th:href="@{/sucursal/}" class="btn btn-warning">Volver</a>
                    <input class="btn btn-primary" type="submit" value="Guardar">
                </div>
            </form>

        </div>
    </div>






    <footer th:replace="fragments/template.html :: footer"></footer>
</div>
</body>
</html>