<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sucursal</title>
</head>
<body>
<div>
<header th:insert="fragments/template.html :: header"></header>
<tr>
    <th>Codigo</th>
    <th>Provincia</th>
    <th>Canton</th>
    <th>Distrito</th>
    <th>Telefono</th>
</tr>
<tr th:each="SucursalTemp : ${listarSucursales}">
    <td th:text="${SucursalTemp.codigo}" />
    <td th:text="${SucursalTemp.provincia}" />
    <td th:text="${SucursalTemp.canton}" />
    <td th:text="${SucursalTemp.distrito}" />
    <td th:text="${SucursalTemp.telefono}" />
</div>
</body>
</html>