<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
    </th:block> /*/-->
    <title>Sucursales</title>
</head>
<body>
    <div class="container">
        <header th:insert="fragments/template.html :: header"></header>
        <div class="col-md-8">
            <h1>Sucursales</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--Table-->
                <table id="userTable" class="table table-striped">
                    <!--Table head-->
                    <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Provincia</th>
                        <th>Canton</th>
                        <th>Distrito</th>
                        <th>Telefono</th>
                    </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                    <tr th:if="${listaSucursal.empty}">
                        <td colspan="4">No hay sucursales disponibles.</td>
                    </tr>
                    <tr th:each="SucursalTemp : ${listarSucursales}">
                        <td th:text="${SucursalTemp.codigo}" />
                        <td th:text="${SucursalTemp.provincia}" />
                        <td th:text="${SucursalTemp.canton}" />
                        <td th:text="${SucursalTemp.distrito}" />
                        <td th:text="${SucursalTemp.telefono}" />
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>
        <div th:replace="fragments/template.html :: notificaciones"></div>
        <div th:replace="fragments/template.html :: footer"></div>
    </div>
</body>
</html>