<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
<div th:replace="fragments/template.html :: header"> </div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="#" th:object="${usuario}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <label>Usuario</label>
                        </div>
                        <div class="col">
                            <a th:href="@{/usuarios/editar/{id}(id=${nombreUsuario})}" class="btn btn-primary">Editar</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="nombreUsuario">Usuario</label>
                        <input type="text" th:field="*{nombreUsuario}" placeholder="Usuario" readonly
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="rolUsuario.nombre">Rol</label>
                        <input class="form-control" placeholder="Rol" readonly type="text">
                        <div th:each="rol, itemStat : ${rolUsuario}">
                            <span th:text="*{!itemStat.last ? rolUsuario[__${itemStat.index}__].nombre + ', ' : rolUsuario[__${itemStat.index}__].nombre}"></span>
                        </div>
                        </input>
                    </div>
                </div>
                <label>Datos</label>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="cedula">C&eacute;dula</label>
                        <input type="text" th:field="*{cedula}" placeholder="N&uacute;mero de c&eacute;dula" readonly
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="nombre">Nombre</label>
                        <input type="text" th:field="*{nombre}" placeholder="Nombre" readonly
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="primerApellido">Primer Apellido</label>
                        <input type="text" th:field="*{primerApellido}" placeholder="Primer Apellido" readonly
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="segundoApellido">Segundo Apellido</label>
                        <input type="text" th:field="*{segundoApellido}" placeholder="Segundo Apellido" readonly
                               class="form-control">
                    </div>
                </div>
                <label>Contacto</label>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="correo">Correo electr&oacute;nico</label>
                        <input type="text" th:field="*{correo}" placeholder="Correo electr&oacute;nico" readonly
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="telefono">Tel&eacute;fono</label>
                        <input type="text" th:field="*{telefono}" placeholder="Tel&eacute;fono" readonly
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="direccion">Direcci&oacute;n</label>
                        <textarea th:field="*{direccion}" placeholder="Direcci&oacute;n" cols="40" rows="2" readonly
                                  class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <a th:href="@{{url}(url=${urlAtras})}" class="btn btn-warning">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/template.html :: footer"></div>
</body>
</html>