<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
<div class="container">
    <header th:insert="fragments/template.html :: header"> </header>

    <div class="row">
        <form action="#" th:object="${producto}">
            <div class="form-group">
                <label for="nombre">Producto</label>
                <input class="form-control" id="nombre" name="nombre" placeholder="Nombre del producto" readonly
                       type="text" th:value="${producto.nombre}"/>
            </div>

            <div class="form-group">
                <label>Tipo producto</label>
                <input class="form-control" readonly
                       type="text" th:field="${producto.tipoproducto.nombre}"/>
            </div>

            <div class="form-row">
            <label for="precio">Precio</label>
            <input class="form-control" id="precio" name="precio" placeholder="Precio del producto" disabled
                   type="text" th:value="${producto.precio}"/>

                <div class="form-group">
                    <label>Marca</label>
                    <input class="form-control" readonly
                           type="text" th:field="${producto.marca.nombre}"/>
                </div>

                <div class="form-row">
                    <label for="modelo">Modelo</label>
                    <input class="form-control" id="modelo" name="modelo" placeholder="Modelo del producto" disabled
                           type="text" th:value="${producto.modelo}"/>

                    <div class="form-row">
                        <label for="descripcion">Descripcion</label>
                        <input class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion del producto" disabled
                               type="text" th:value="${producto.descripcion}"/>


            <div class="form-group">
                    <a th:href="@{/productos/}" class="btn btn-warning">Volver</a>
                </div>
            </form>
        </div>
    </div>

    <footer th:replace="fragments/template.html :: footer"></footer>
</div>
</body>
</html>