<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
<div th:replace="fragments/template.html :: header"> </div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="#" th:object="${producto}">
                <div class="form-group">
                    <label for="nombre">Producto</label>
                    <input class="form-control" id="nombre" name="nombre" placeholder="Nombre del producto" readonly
                           type="text" th:value="${producto.nombre}"/>
                </div>
                <div class="form-group">
                    <label>Tipo producto</label>
                    <input class="form-control" readonly
                           type="text" th:field="${producto.tipoProducto.nombre}"/>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input class="form-control" id="precio" name="precio" placeholder="Precio del producto" disabled
                       type="text" th:value="${producto.precio}"/>
                </div>
                <div class="form-group">
                    <label>Marca</label>
                    <input class="form-control" readonly
                           type="text" th:field="${producto.marca.nombre}"/>
                </div>
                <div class="form-group">
                    <label for="modelo">Modelo</label>
                    <input class="form-control" id="modelo" name="modelo" placeholder="Modelo del producto" disabled
                           type="text" th:value="${producto.modelo}"/>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion del producto" disabled
                           type="text" th:value="${producto.descripcion}"/>
                </div>
                <div class="form-group">
                    <a th:href="@{/admin/productos/}" class="btn btn-warning">Volver</a>
                    <a class="btn btn-info" th:href="@{/admin/productos/{id}/imagenes(id=${producto.id})}">Ver Imagenes</a>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-3" th:each="imagenTmp : ${producto.imagenes}">
            <img th:src="@{/image/productos/{nombre}(nombre=${imagenTmp.nombre})}" th:alt="${imagenTmp.nombre}" class="img-thumbnail">
        </div>
    </div>

    <div th:replace="fragments/template.html :: footer"></div>
</div>
</body>
</html>