<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
    </th:block> /*/-->
</head>
<body>
<div th:replace="fragments/template.html :: header"> </div>
<div class="container">
    <div class="row">
        <div class="col-md-8"><h1>Roles/tipos de usuarios</h1></div>
        <div class="col-md-4"><div class="float-right"><a th:href="@{/admin/usuarios/roles/crear}" class="btn btn-success">Crear</a></div></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--Table-->
            <table id="userTable" class="table table-striped">
                <!--Table head-->
                <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Rol</th>
                        <th>Descripci&oacute;n</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr th:if="${listaRoles.empty}">
                        <td colspan="6">No hay roles</td>
                    </tr>
                    <tr th:each="rolTmp : ${listaRoles}">
                        <td scope="row" th:text="${rolTmp.id}"/>
                        <td th:text="${rolTmp.nombre}"/>
                        <td th:text="${rolTmp.descripcion}"/>
                        <td><a th:href="@{/admin/usuarios/roles/{id}(id=${rolTmp.id})}" class="btn btn-info">Ver</a></td>
                        <td><a th:href="@{/admin/usuarios/roles/editar/{id}(id=${rolTmp.id})}" class="btn btn-secondary">Editar</a></td>
                        <td><a th:href="@{/admin/usuarios/roles/eliminar/{id}(id=${rolTmp.id})}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>
</div>
<div th:replace="fragments/template.html :: notificaciones"></div>
<div th:replace="fragments/template.html :: footer"></div>
</body>
</html>