<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
    </th:block> /*/-->
</head>
<body>
<div class="container">
    <header th:insert="fragments/template.html :: header"></header>

    <div class="jumbotron">
        <h1>Bienvenido</h1>
        <br>
        <a href="/usuarios/">Usuarios</a><br>
        <a href="/usuarios/roles/">Roles usuarios</a><br>
        <a href="/sucursal/">Sucursal</a><br>
        <a href="/tipopago/">Tipo Pago</a><br>
        <a href="/categorias/">Categorias</a><br>
        <a href="/marcas/">Marcas</a><br>
        <a href="/productos/">Productos</a><br>
        <a href="/tipoproducto/">Tipos de Productos</a><br>
        <a href="/inventario/">Inventario</a><br>
        <a href="/home/">Home</a><br>
    </div>

    <footer th:replace="fragments/template.html :: footer"></footer>
</div>
</body>
</html>