<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>editar-imagen</title>
</head>

<body>
    <div class="container">
        <header th:insert="fragments/template.html :: header"> </header>

        <div class="row">
            <div class="col-12">
                <form th:action=@{/imagenes/editar/{id}(id=${imagen.imagenId})}" method="post" th:object="${imagen}">
                    <input type="hidden" id="id" name="id" th:value="${producto.id}">
                    <label>Imagen</label>

                    <div class="form-group">
                        <div class="col-8">
                            <input type="text" th:field="*{imagenNombre}" placeholder="Nombre de la imagen" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-8">
                            <textarea th:field="*{ubicacion}" placeholder="Direcci&oacute;n de la imagen" cols="40" rows="2"
                                class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <a th:href="@{{url}(url=${urlAtras})}" class="btn btn-warning">Volver</a>
                        <button name="submit" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace="fragments/template.html :: footer"></footer>
    </div>
</body>

</html>