<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
<div th:insert="fragments/template.html :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Imagenes</h1>
        </div>
        <div class="col-md-8">
            <div class="float-rigth"><a th:href="@{/admin/imagenes/crear}" class="btn btn-success">Crear</a></div>
            <h1></h1>
        </div>
    </div>
    <h1></h1>
    <div class="row">
        <div class="col-12">
            <table id="tablaUsuarios" class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${listaImagenes.empty}">
                        <td colspan="6">No hay imagenes disponibles.</td>
                    </tr>
                    <tr th:each="imagenTmp : ${listaImagenes}">
                        <td th:text="${imagenTmp.producto.nombre}" />
                        <td scope="row" th:text="${imagenTmp.id}" />
                        <td scope="row" th:text="${imagenTmp.nombre}" />
                        <td><a class="btn btn-info" th:href="@{/admin/imagenes/{id}(id=${imagenTmp.id})}">Ver</a>
                        </td>
                        <td><a class="btn btn-secondary"
                                th:href="@{/admin/imagenes/editar/{id}(id=${imagenTmp.id})}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger"
                                th:href="@{/admin/imagenes/eliminar/{id}(id=${imagenTmp.id})}">Eliminar</a>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/template.html :: notificaciones"></div>
<div th:replace="fragments/template.html :: footer"></div>
</body>
</html>