<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
    </th:block> /*/-->
</head>
<body>
<div th:insert="fragments/template.html :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-8"><h1>Marcas</h1></div>
        <div class="col-md-4">
            <div class="float-right"><a class="btn btn-success" th:href="@{/admin/marcas/crear}">Crear</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered" id="tablaMarcas">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${listaMarcas.empty}">
                        <td colspan="4">No hay marcas disponibles.</td>
                    </tr>
                    <tr th:each="marcasTmp : ${listaMarcas}">
                        <td th:text="${marcasTmp.id}"/>
                        <td th:text="${marcasTmp.nombre}"/>
                        <td><a class="btn btn-info" th:href="@{/admin/marcas/{id}(id=${marcasTmp.id})}">Ver</a></td>
                        <td><a class="btn btn-secondary" th:href="@{/admin/marcas/editar/{id}(id=${marcasTmp.id})}">Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{/admin/marcas/eliminar/{id}(id=${marcasTmp.id})}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/template.html :: notificaciones"></div>
<div th:replace="fragments/template.html :: footer"></div>
</body>
</html>