<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
    </th:block> /*/-->
</head>
<body>
<div th:replace="fragments/template.html :: header"> </div>
<div class="container">
    <div class="row">
        <div class="col-md-8"><h1>Tipos de Productos</h1></div>
        <div class="col-md-4"><div class="float-right"><a th:href="@{/admin/tipoproducto/crear}" class="btn btn-success">Crear</a></div></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--Table-->
            <table id="userTable" class="table table-striped">
                <!--Table head-->
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr th:if="${listaTipoProducto.empty}">
                        <td colspan="6">No hay Tipos de Productos</td>
                    </tr>
                    <tr th:each="tipoProductoTmp : ${listaTipoProducto}">
                        <td scope="row" th:text="${tipoProductoTmp.id}" />
                        <td th:text="${tipoProductoTmp.nombre}"></td>
                        <td th:text="${tipoProductoTmp.categoria.nombre}"></td>
                        <td><a th:href="@{/admin/tipoproducto/{id}(id=${tipoProductoTmp.id})}" class="btn btn-info">Ver</a></td>
                        <td><a th:href="@{/admin/tipoproducto/editar/{id}(id=${tipoProductoTmp.id})}" class="btn btn-secondary">Editar</a></td>
                        <td><a th:href="@{/admin/tipoproducto/eliminar/{id}(id=${tipoProductoTmp.id})}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>
</div>
<div th:replace="fragments/template.html :: notificaciones"></div>
<div th:replace="fragments/template.html :: footer"></div>
</body>
</html>