<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Imagen</title>
</head>
<body>
<h1>Imagenes</h1>
<table>
    <tr>
        <th>Imagen ID</th>
        <th>Imagen Nombre</th>
        <th>Imagen</th>
        <th>Ubicacion</th>
    </tr>
    <tr th:each="rolTmp : ${listaImagenes}">
        <td th:text="${rolTmp.imagen_id}" />
        <td th:text="${rolTmp.imagen_nombre}" />
        <td th:src="${rolTmp.imagen}" />
        <td th:text="${rolTmp.imagen_ubicacion}" />
    </tr>

</table>

</body>
</html>
