<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/template.html :: headerfiles">
    </th:block> /*/-->
</head>
<body>
<table width="100%">
    <tr>
        <td colspan="2" width="100% " class="center" align="center">
            <div class="container">
                <header th:insert="fragments/template.html :: header" class="center"></header>
            </div>
        </td>
    </tr>
    <tr>
        <td width="20%">
            <table>
                    <div class="list-group">
                        <!--<tr class="list-group-item active" th:object="${tipo}" >
                            <td th:text="'Tipos de Productos en '+${tipo.nombre}" />
                        </tr>

                        <tr th:each="lista : ${tipoproducto}" >
                            <td>
                                <a class="list-group-item" th:text="${lista.nombre}" th:href="@{/home/categoria/{lista}(lista=${lista.id})}"/>
                            </td>
                        </tr>-->
                        <tr >
                            <td>
                                <a class="list-group-item" th:text="Volver" th:href="@{{ulr}(url=${back})}"/>
                            </td>
                        </tr>
                    </div>
                </table>
            </td>
        <td width="80%">
            <div class="container">
                <table width="100%" class="table-bordered">
                    <tr th:object="${tipo}">
                        <h1 class="navbar-brand center">
                        <td colspan="5" th:text="${tipo.nombre}"/>
                        </h1>
                    </tr>
                    <tr th:each="list:${productos}">
                        <td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div>
                <footer th:replace="fragments/template.html :: footer"></footer>
            </div>
        </td>
    </tr>
</table>
</body>
</html>